# KT Monetization OS — Caddyfile
# Auto-HTTPS via Let's Encrypt

tkverse.ca, www.tkverse.ca {
    redir https://tkverse.ca{uri} permanent
    reverse_proxy web:3000
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Frame-Options DENY
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }
    encode gzip
}

api.tkverse.ca {
    reverse_proxy api:8010
    header X-Frame-Options DENY
    header X-Content-Type-Options nosniff
}

admin.tkverse.ca {
    reverse_proxy admin:3020
    header X-Frame-Options DENY
}

monitor.tkverse.ca {
    reverse_proxy grafana:3030
    basic_auth {
        kevin JDJhJDEwJHhleVpWaFhxZElRZ1lXa1lwa1FuVWVPbEZoVUlnSkJCQW9ISlN4emJ5VW0uc3pYVFhUU2dD
    }
}


